body {
  font-family: arno-pro, serif;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: #333;

}

a {
  transition: opacity 0.3s;
  text-decoration: none;
  color: #4287ee;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 73px;
  background-color: #95f6f7;
}

.section {
  padding: 90px 0;

  /* 波 */
  --mask:
  radial-gradient(72.11px at 50% 100px,#000 99%,#0000 101%) calc(50% - 80px) 0/160px 51% repeat-x,
  radial-gradient(72.11px at 50% -60px,#0000 99%,#000 101%) 50% 40px/160px calc(51% - 40px) repeat-x,
  radial-gradient(72.11px at 50% calc(100% - 100px),#000 99%,#0000 101%) calc(50% - 80px) 100%/160px 51% repeat-x,
  radial-gradient(72.11px at 50% calc(100% + 60px),#0000 99%,#000 101%) 50% calc(100% - 40px)/160px calc(51% - 40px) repeat-x;
-webkit-mask: var(--mask);
        mask: var(--mask);
}

.section:nth-of-type(odd) {
  background-color: #ccf3ff;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #333;
  /* text-shadow: 0 0 10px #fff, 0 0 15px #fff; */
}

.lead {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.1);
  /* background: rgba(0, 0, 0, 0.5); */
  /* 背景色を半透明の黒色に */
  background-image: linear-gradient(90deg, rgba(65, 164, 253, 0.6), rgba(14, 244, 255, 0.6));
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 40px;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: 0.05em;
}

.header-logo a {
  color: #333;
  /* text-shadow: 0 0 10px #fff, 0 0 15px #fff; */
}

.gnav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.gnav-list li:nth-child(6) {
  border-left: 1px solid #333;
  padding-left: 24px;
}

.gnav-item:not(:last-child) {
  margin-right: 20px;
}

.gnav-item a {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: 0.3s;
  letter-spacing: 0.05em;
  color: #333;
  /* text-shadow: 0 0 10px #fff, 0 0 15px #fff; */
}
.gnav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
  color: #333;
  /* text-shadow: 0 0 10px #fff, 0 0 15px #fff; */
}

.gnav-item a:hover:after {
  width: 100%;
  animation: flashing 1s ease-in-out infinite alternate;
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menuSP {
  display: none;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  text-align: center;
  background-image: url(../img/ocean_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #00ceff; */
  /* background-image: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1)); */
}

.mv-container {
  padding: 0 40px;
}

.mv-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
  letter-spacing: 0.1em;
  color: #fff;
  text-shadow: 0 0 10px #333, 0 0 15px #333;
}
.mv-subtitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: 0.08em;
  color: #fff;
  text-shadow: 0 0 10px #333, 0 0 15px #333;
}

.mv-text {
  font-size: 16px;
  line-height: 1.8;
  font-family: arno-pro, serif;
  color: #fff;
  text-shadow: 0 0 10px #333, 0 0 15px #333;
}

/*--------------------------------
 Works
---------------------------------*/

.works-list {
  display: flex;
  flex-wrap: wrap;
  /* margin-bottom: -40px; */
  text-align: center;
}

.works-list p {
  width: 100%;
}

.works-item {
  width: 31.74603%;
  margin-right: 1.5873%;
  margin-bottom: 40px;
  color: #333;
}

.works-item:hover {
  opacity: 0.9;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-img {
  overflow: hidden;
}

.works-img img {
  /* border: 1px solid #e6e6e6; */
}

.works-item:hover .works-img img {
  transform: scale(1.1, 1.1);
  transition: 0.5s all;
}

.movie {
  overflow: hidden;
}

.movie video {
  width: 100%;
  height: auto;
  border: 1px solid #e6e6e6;
}

.works-item p {
  font-size: 12px;
  font-weight: bold;
  margin: 8px 0 4px;
  color: #333;
  /* text-shadow: 0 0 10px #fff, 0 0 15px #fff; */
  font-family: arno-pro, serif;
}

.logoImg{
  margin-top: 2%;
}

.logo_list{
  display: flex;
  margin: 5% 0;
  list-style: none;
}

.colorBase{
  margin-left: 5px;
  padding: 3px 6px;
}

.basecolor_port1 {
  background-color: #ffffff;
  color: #4e4e4e;
}

.maincolor_port1 {
  background-color: #90ee90;
  color: #4e4e4e;
}

.accentcolor_port1 {
  background-color: #528852;
  color: #ffffff;
}

.basecolor_port2 {
  background-color: #f5deb3;
  color: #4e4e4e;
}

.maincolor_port2 {
  background-color: #d6be67;
  color: #4e4e4e;
}

.accentcolor_port2 {
  background-color: #5b512c;
  color: #ffffff;
}

.maincolor_logo1 {
  background-color: #1e72ae;
  color: #ffffff;
}
/*--------------------------------
 SKILLS
---------------------------------*/
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 50px;
}

.skill-img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 10px;
}

.skill-text {
  font-size: 14px;
  line-height: 1.8;
  font-family: arno-pro, serif;
}

/*--------------------------------
 About
---------------------------------*/
.profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
.profile-img {
  width: 20%;
  margin-right: 30px;
  border-radius: 50%;
}
.profile-img img {
  border-radius: 50%;
}
.profile-body {
  flex: 1;
}

.profile-body p {
  font-size: 15px;
  line-height: 1.8;
}

.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact {
  text-align: center;
}

.contact-item:not(:last-child) {
  margin-right: 10px;
}

.contact-text {
  margin-top: 10px;
}
/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #4c4c4c;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #333;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-image: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1));
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #333;
  /* text-shadow: 0 0 10px #fff, 0 0 15px #fff; */
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
  background-color: #ccf3ff;
}

.article-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 30px;
  text-align: center;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article-body h3 {
  position: relative;
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 1em;
}

.article-body h3:not(:first-child) {
  margin-top: 50px;
}

.article-body h3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color: #333;
}

.article-body p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
}

.banner_pattern{
display: flex;
}

.banner_pattern li{
  list-style: none;
  margin-right: 2%;
}

/* モーダル */
.featherlight-sample {
  display: none;
}

.featherlight .featherlight-content {
  height: 80%;
  width: 80%;
}

.featherlight .featherlight-close-icon {
  top: 0;
  font-size: 3rem;
}

.featherlight-sample {
  font-size: 1.6rem;
  color: #000;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.inner-box02 {
  width: 60%;
  margin-left: 2%;
}

.inner-box02 h3 {
  display: inline-block;
  background: linear-gradient(transparent 60%, #4287ee 60%);
  margin-bottom: 5px;
  font-size: 20px;
}

.inner-box02 p {
  margin-bottom: 3%;
  font-size: 15px;
}

#inner01 img, #inner02 img, #inner03 img, #inner04 img, #inner05 img, #inner6 img, #inner7 img {
  width: 400px;
  height: auto;
  margin-bottom: 5%;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  h3{
    margin-top: 0;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 57px;
  }

  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 20px;
  }

  /* ヘッダー */
  .header .container {
    padding: 11px 15px;
  }

  .header-logo {
    font-size: 15px;
    margin-right: 15px;
  }

  .gnav-list {
    display: block;
  }

  .gnav-list li:nth-child(7) {
    border-left: 0;
    padding-left: 0;
  }

  .gnav-item:not(:last-child) {
    margin-right: 0;
  }

  .gnav-item a {
    font-size: 10px;
  }

  .gnav-item a:after {
    display: none;
  }

  /*  メインビジュアル */
  .mv {
    height: 75vh;
  }

  .mv-container {
    padding: 0 20px;
  }

  .mv-title {
    font-size: 30px;
  }
  .mv-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .mv-text {
    font-size: 14px;
    line-height: 1.7;
  }

  /* ハンバーガーメニュー */
  .gnav {
    display: none;
  }

  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
  }

  .hamburger span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #333;
    transition: all 0.5s ease;
  }

  .header_top form {
    display: none;
  }

  .bar1 {
    top: 0;
  }

  .bar2 {
    top: 17px;
  }

  .bar3 {
    bottom: 0;
  }

  .bar1.open {
    top: 17px;
    transform: rotate(45deg);
  }

  .bar2.open {
    opacity: 0;
  }

  .bar3.open {
    top: 17px;
    transform: rotate(-45deg);
  }

  /* .menuSP
  ------------------------------*/
  .menuSP {
    display: none;
    position: fixed;
    top: 57px;
    width: 100%;
    z-index: 4;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    color: #333;
    background-color: #ccf3ff;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .menuSP form {
    margin-left: 0;
  }

  .menuSP address {
    display: block;
    padding: 20px 40px;
    margin: 20px 0;
  }

  .menuSP ul li {
    margin: 10px 0;
  }

  .menuSP ul li a {
    color: #333;
    list-style: none;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 2;
  }

  .gnav-list li:nth-child(6) {
    border-left: 0;
    padding-left: 0;
}

  /* Works */
  .works-list {
    justify-content: space-between;
  }

  .works-item {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .banner_pattern{
    display: block;
  }

  .inner-container {
    display: block;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
  }

  #inner01 img, #inner02 img, #inner03 img, #inner04 img, #inner05 img, #inner6 img, #inner7 img {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
  }

  .inner-box02 {
    width: 90%;
    margin-left: 2%;
}

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-top: 50px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-name {
    margin-bottom: 5px;
  }

  .skill-text {
    font-size: 13px;
    line-height: 1.7;
  }

  /* About */
  .profile {
    display: block;
  }
  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p {
    font-size: 14px;
    line-height: 1.7;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 50px 0;
  }

  .article-body h3 {
    font-size: 16px;
    padding-left: 0.8em;
  }

  .article-body h3:not(:first-child) {
    margin-top: 30px;
  }

  .article-body p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }
}
